.booking{
  background-color: white;
  padding: 1%;
  text-align: center;

  h2{
    background-color: $orange;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 1%;
  }
  strong{
    color: $orange;
  }
}
