/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  padding: 1%;

}
.alert-info {
  background-color: #00e676;
  color: white;
}
.alert-warning {
  background-color: #e53935;
  color: white;

}
